body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
tr th{
    font-weight:bold;
}
tr th, tr td{
    padding:5px;
}

th{
    border: 5px solid #C1DAD7;
}

td{
    border: 5px solid #C1DAD7;
}
.c1{
    background:#4b8c74;
}
.c2{
    background:#74c476;
}

.c3{
    background:#a4e56d;
}

.c4{
    background:#cffc83;
}
.content{
    width:960px;
    height: 500px;
}
img{
    height: 40px;
    width: 96px;
 }
